In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.read_csv(r"C:\Users\hp\Downloads\Assignement\Assignement\dataset.csv")

,BUILDINGKEY,FLOORKEY,FLOORNAME,NURSEKEY,NURSENAME,ROOMKEY,ROOMNAME,BEDKEY,BEDNAME,BEDSTATUS
0,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),34.0,101-1,Occupied Discharge
1,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),35.0,101-1P,Occupied Discharge
2,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),36.0,101-2,Vacant Dirty
3,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),37.0,101-2P,Vacant Dirty
4,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),38.0,101-3,Vacant Dirty
...,...,...,...,...,...,...,...,...,...,...
1095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df=pd.read_csv(r"C:\Users\hp\Downloads\Assignement\Assignement\dataset.csv")

In [5]:
c=df.dropna()

In [6]:
c

,BUILDINGKEY,FLOORKEY,FLOORNAME,NURSEKEY,NURSENAME,ROOMKEY,ROOMNAME,BEDKEY,BEDNAME,BEDSTATUS
0,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),34.0,101-1,Occupied Discharge
1,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),35.0,101-1P,Occupied Discharge
2,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),36.0,101-2,Vacant Dirty
3,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),37.0,101-2P,Vacant Dirty
4,5.0,9.0,First Floor NT,00:00.0,Daycare Surgery,33.0,Daycare NT (Day Care),38.0,101-3,Vacant Dirty
...,...,...,...,...,...,...,...,...,...,...
995,5.0,13.0,Fifth Floor NT,411,NT Ward 5D,422.0,Room 579 (Single Bed),442.0,579-1,Vacant Dirty
996,5.0,13.0,Fifth Floor NT,411,NT Ward 5D,423.0,Room 580 (Single Bed),443.0,580-1,Occupied(Male)
997,5.0,13.0,Fifth Floor NT,411,NT Ward 5D,424.0,Room 581 (Single Bed),444.0,581-1,Occupied(Female)
998,5.0,13.0,Fifth Floor NT,411,NT Ward 5D,425.0,Room 582 (Single Bed),445.0,582-1,Occupied(Female)
999,5.0,13.0,Fifth Floor NT,411,NT Ward 5D,426.0,Room 583 (Four Bedded),446.0,583-3,Vacant Dirty

# 1.	Get the Count of beds in each ward.

In [78]:
E=c['NURSENAME']=='Daycare Surgery'

In [80]:
#count of bed in each ward(Daycare)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

50

In [81]:
E=c['NURSENAME']=='NT ICU'

In [82]:
#count of bed in each ward(NT ICU)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

16

In [83]:
E=c['NURSENAME']=='NT Ward 2D'

In [84]:
#count of bed in each ward(NT Ward 2D)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

110

In [85]:
E=c['NURSENAME']=='NT Ward 3D'

In [86]:
#count of bed in each ward(NT Ward 3D)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

78

In [87]:
E=c['NURSENAME']=='NT Ward 4D'

In [88]:
#count of bed in each ward(NT Ward 4D)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

76

In [89]:
E=c['NURSENAME']=='NT Ward 5D'

In [90]:
#count of bed in each ward(NT Ward 5D)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

41

In [91]:
E=c['NURSENAME']=='NT NICU'

In [92]:
#count of bed in each ward(NT NICU)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

8

In [93]:
E=c['NURSENAME']=='NT Admission Lounge'

In [94]:
#count of bed in each ward(NT Admission Lounge)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

28

In [95]:
E=c['NURSENAME']=='NT Labour Room'

In [96]:
#count of bed in each ward(NT Labour Room)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

42

In [97]:
E=c['NURSENAME']=='NT Nursery'

In [98]:
#count of bed in each ward(NT Nursery)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

118

In [99]:
E=c['NURSENAME']=='NT Paed HDU'

In [100]:
#count of bed in each ward(NT Paed HDU)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

16

In [122]:
E=c['NURSENAME']=='Daycare Endoscopy'

In [123]:
#count of bed in each ward(Daycare Endoscopy)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

32

In [124]:
E=c['NURSENAME']=='ST ICU'

In [125]:
#count of bed in each ward(ST ICU)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

9

In [134]:
E=c['NURSENAME']=='ST Ward 5A'

In [135]:
#count of bed in each ward(ST Ward 5A)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

35

In [136]:
E=c['NURSENAME']=='ST Ward 4A'

In [137]:
#count of bed in each ward(ST Ward 4A)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

45

In [138]:
E=c['NURSENAME']=='ST Ward 3A'

In [139]:
#count of bed in each ward(ST Ward 3A)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

31

In [140]:
E=c['NURSENAME']=='ST Ward 2A'

In [141]:
#count of bed in each ward(ST Ward 2A)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

30

In [142]:
E=c['NURSENAME']=='ST CCU'

In [143]:
#count of bed in each ward(ST CCU)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

11

In [144]:
E=c['NURSENAME']=='Daycare Haemato & Onco Paed'

In [145]:
#count of bed in each ward(Daycare Haemato & Onco Paed)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

11

In [146]:
E=c['NURSENAME']=='Daycare Imaging'

In [147]:
#count of bed in each ward(Daycare Imaging)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

10

# 2.	Get the count of bed in each room.

In [173]:
E=c['ROOMNAME']=='Daycare NT (Day Care)'

In [174]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

50

In [184]:
E=c['ROOMNAME']=='Room 255 (Single Executive)'

In [185]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [479]:
E=c['ROOMNAME']=='Room 256 (Double Bed)'

In [480]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [481]:
E=c['ROOMNAME']=='Room 257 (Double Bed)'

In [482]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [483]:
E=c['ROOMNAME']=='Room 258 (Double Bed)'

In [484]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [485]:
E=c['ROOMNAME']=='Room 260 (Single Bed)'

In [486]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [487]:
E=c['ROOMNAME']=='Room 261 (Single Bed)'

In [488]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [489]:
E=c['ROOMNAME']=='Room 262 (Single Bed)'

In [490]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [491]:
E=c['ROOMNAME']=='Room 263 (Single Bed)'

In [492]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [493]:
E=c['ROOMNAME']=='Room 264 (Single Bed)'

In [494]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [495]:
E=c['ROOMNAME']=='Room 265 (Single Bed)'

In [496]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [196]:
E=c['ROOMNAME']=='Room 266 (Single Bed)'

In [497]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [498]:
E=c['ROOMNAME']=='Room 267 (Single Bed)'

In [499]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [500]:
E=c['ROOMNAME']=='Room 268 (Suite)'

In [501]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [502]:
E=c['ROOMNAME']=='Room 269 (Single Bed)'

In [503]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [504]:
E=c['ROOMNAME']=='Room 270 (Single Bed)'

In [505]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [506]:
E=c['ROOMNAME']=='Room 271 (Single Bed)'

In [507]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [508]:
E=c['ROOMNAME']=='Room 272 (Single Bed)'

In [509]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [510]:
E=c['ROOMNAME']=='Room 273 (Four Bedded)'

In [511]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [512]:
E=c['ROOMNAME']=='Room 274 (Double Bed)'

In [513]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [514]:
E=c['ROOMNAME']=='Room 275 (Double Bed)'

In [515]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [516]:
E=c['ROOMNAME']=='Room 276 (Phototherapy)'

In [517]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

12

In [518]:
E=c['ROOMNAME']=='Room 277 (Double Bed)'

In [519]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [520]:
E=c['ROOMNAME']=='Room 278 (Single Bed)'

In [521]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [524]:
E=c['ROOMNAME']=='Room 279 (Single Bed)'

In [525]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [526]:
E=c['ROOMNAME']=='Room 280 (Single Bed)'

In [527]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [528]:
E=c['ROOMNAME']=='Room 281 (Suite)'

In [529]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [530]:
E=c['ROOMNAME']=='Room 283 (Single Bed)'

In [531]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [532]:
E=c['ROOMNAME']=='Room 284 (Single Bed)'

In [533]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [534]:
E=c['ROOMNAME']=='Room 288 (Double Bed)'

In [535]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [536]:
E=c['ROOMNAME']=='Room 289 (Double Bed)'

In [537]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [538]:
E=c['ROOMNAME']=='Room 290 (Double Bed)'

In [539]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [540]:
E=c['ROOMNAME']=='Room 291 (Double Bed)'

In [541]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [542]:
E=c['ROOMNAME']=='Room 292-1E (Single Executive)'

In [543]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [544]:
E=c['ROOMNAME']=='NICU NT (NICU)'

In [545]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

8

In [546]:
E=c['ROOMNAME']=='Room 299 (Admission Lounge)'

In [547]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

28

In [548]:
E=c['ROOMNAME']=='NT PAED HDU (HDU)'

In [549]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

16

In [550]:
E=c['ROOMNAME']=='Room 350 (Nursery Bed)'

In [551]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

80

In [552]:
E=c['ROOMNAME']=='Room 351 (Incubator)'

In [553]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

10

In [554]:
E=c['ROOMNAME']=='Room 352 (NHDU)'

In [555]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

8

In [556]:
E=c['ROOMNAME']=='Room 353 (Double Bed)'

In [557]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [558]:
E=c['ROOMNAME']=='Room 354 (Double Bed)'

In [559]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [560]:
E=c['ROOMNAME']=='Room 355 (Single Bed)'

In [561]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [562]:
E=c['ROOMNAME']=='Room 356 (Single Bed)'

In [563]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [564]:
E=c['ROOMNAME']=='Room 357 (Single Bed)'

In [565]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [566]:
E=c['ROOMNAME']=='Room 358 (Single Bed)'

In [567]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [568]:
E=c['ROOMNAME']=='Room 359 (Single Bed)'

In [569]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [570]:
E=c['ROOMNAME']=='Room 360 (Single Bed)'

In [571]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [572]:
E=c['ROOMNAME']=='Room 361 (Single Bed)'

In [573]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [574]:
E=c['ROOMNAME']=='Room 362 (Single Bed)'

In [575]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [576]:
E=c['ROOMNAME']=='Room 363 (Single Bed)'

In [577]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [578]:
E=c['ROOMNAME']=='Room 364 (Single Bed)'

In [579]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [580]:
E=c['ROOMNAME']=='Room 365 (Suite)'

In [581]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [582]:
E=c['ROOMNAME']=='Room 366 (Single Bed)'

In [583]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [584]:
E=c['ROOMNAME']=='Room 367 (Single Bed)'

In [585]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [586]:
E=c['ROOMNAME']=='Room 368 (Single Bed)'

In [587]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [588]:
E=c['ROOMNAME']=='Room 369 (Single Bed)'

In [589]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [590]:
E=c['ROOMNAME']=='Room 370 (Double Bed)'

In [591]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [592]:
E=c['ROOMNAME']=='Room 371 (Double Bed)'

In [593]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [594]:
E=c['ROOMNAME']=='Room 372 (Double Bed)'

In [595]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [597]:
E=c['ROOMNAME']=='Room 373 (Double Bed)'

In [598]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [599]:
E=c['ROOMNAME']=='Room 374 (Double Bed)'

In [600]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [601]:
E=c['ROOMNAME']=='Room 375 (Double Bed)'

In [602]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [603]:
E=c['ROOMNAME']=='Room 376 (Single Bed)'

In [604]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [605]:
E=c['ROOMNAME']=='Room 377 (Single Bed)'

In [606]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [607]:
E=c['ROOMNAME']=='Room 378 (Single Bed)'

In [608]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [609]:
E=c['ROOMNAME']=='Room 379 (Single Bed)'

In [610]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [611]:
E=c['ROOMNAME']=='Room 349 (Phototherapy)'

In [612]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

20

In [613]:
E=c['ROOMNAME']=='Room 490 (Observation Room)'

In [614]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

20

In [615]:
E=c['ROOMNAME']=='Room 491 (Observation Room)'

In [616]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [617]:
E=c['ROOMNAME']=='Room 495 (Delivery Bed)'

In [618]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

20

In [619]:
E=c['ROOMNAME']=='Room 451 (Single Bed)'

In [620]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [622]:
E=c['ROOMNAME']=='Room 452 (Single Bed)'

In [623]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [624]:
E=c['ROOMNAME']=='Room 453 (Single Bed)'

In [625]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [626]:
E=c['ROOMNAME']=='Room 454 (Single Bed)'

In [627]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [628]:
E=c['ROOMNAME']=='Room 455 (Single Bed)'

In [629]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [630]:
E=c['ROOMNAME']=='Room 456 (Single Bed)'

In [631]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [632]:
E=c['ROOMNAME']=='Room 457 (Single Bed)'

In [633]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [634]:
E=c['ROOMNAME']=='Room 458 (Single Bed)'

In [635]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [636]:
E=c['ROOMNAME']=='Room 459 (Suite)'

In [637]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [640]:
E=c['ROOMNAME']=='Room 460 (Single Bed)'

In [641]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [642]:
E=c['ROOMNAME']=='Room 461 (Single Bed)'

In [643]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [644]:
E=c['ROOMNAME']=='Room 462 (Single Bed)'

In [645]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [646]:
E=c['ROOMNAME']=='Room 463 (Single Bed)'

In [647]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [648]:
E=c['ROOMNAME']=='Room 464 (Double Bed)'

In [649]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [650]:
E=c['ROOMNAME']=='Room 465 (Double Bed)'

In [651]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [652]:
E=c['ROOMNAME']=='Room 466 (Double Bed)'

In [653]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [654]:
E=c['ROOMNAME']=='Room 467 (Double Bed)'

In [655]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [656]:
E=c['ROOMNAME']=='Room 468 (Double Bed)'

In [657]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [658]:
E=c['ROOMNAME']=='Room 469 (Four Bedded)'

In [659]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [662]:
E=c['ROOMNAME']=='Room 470 (Four Bedded)'

In [663]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [664]:
E=c['ROOMNAME']=='Room 471 (Executive Suite)'

In [665]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [666]:
E=c['ROOMNAME']=='Room 472 (Executive Suite)'

In [667]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [668]:
E=c['ROOMNAME']=='Room 450 (Single Bed)'

In [669]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [670]:
E=c['ROOMNAME']=='Room 550 (Single Bed)'

In [671]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [672]:
E=c['ROOMNAME']=='Room 551 (Single Bed)'

In [673]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [674]:
E=c['ROOMNAME']=='Room 552 (Single Bed)'

In [675]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [676]:
E=c['ROOMNAME']=='Room 553 (Single Bed)'

In [677]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [678]:
E=c['ROOMNAME']=='Room 554 (Single Bed)'

In [679]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [680]:
E=c['ROOMNAME']=='Room 555 (Single Bed)'

In [681]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [682]:
E=c['ROOMNAME']=='Room 556 (Single Bed)'

In [683]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [684]:
E=c['ROOMNAME']=='Room 557 (Single Bed)'

In [685]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [687]:
E=c['ROOMNAME']=='Room 558 (Single Bed)'

In [688]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [689]:
E=c['ROOMNAME']=='Room 559 (Single Bed)'

In [690]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [692]:
E=c['ROOMNAME']=='Room 560 (Single Bed)'

In [693]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [694]:
E=c['ROOMNAME']=='Room 561 (Single Bed)'

In [695]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [696]:
E=c['ROOMNAME']=='Room 562 (Single Bed)'

In [697]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [698]:
E=c['ROOMNAME']=='Room 563 (Double Bed)'

In [699]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [700]:
E=c['ROOMNAME']=='Room 564 (Double Bed)'

In [701]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [702]:
E=c['ROOMNAME']=='Room 565 (Four Bedded)'

In [703]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [704]:
E=c['ROOMNAME']=='Room 566 (Double Bed)'

In [705]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [706]:
E=c['ROOMNAME']=='Room 567 (Double Bed)'

In [707]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [708]:
E=c['ROOMNAME']=='Room 568 (Four Bedded)'

In [709]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [710]:
E=c['ROOMNAME']=='Room 569 (Single Bed)'

In [711]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [712]:
E=c['ROOMNAME']=='Room 570 (Single Bed)'

In [713]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [714]:
E=c['ROOMNAME']=='Room 571 (Single Bed)'

In [715]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [716]:
E=c['ROOMNAME']=='Room 572 (Single Bed)'

In [717]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [718]:
E=c['ROOMNAME']=='Room 573 (Single Bed)'

In [719]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [720]:
E=c['ROOMNAME']=='Room 574 (Single Bed)'

In [721]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [722]:
E=c['ROOMNAME']=='Room 575 (Single Bed)'

In [723]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [724]:
E=c['ROOMNAME']=='Room 576 (Single Bed)'

In [725]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [726]:
E=c['ROOMNAME']=='Room 577 (Single Bed)'

In [727]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [728]:
E=c['ROOMNAME']=='Room 578 (Suite)'

In [729]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [730]:
E=c['ROOMNAME']=='Room 579 (Single Bed)'

In [731]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [732]:
E=c['ROOMNAME']=='Room 580 (Single Bed)'

In [733]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [734]:
E=c['ROOMNAME']=='Room 581 (Single Bed)'

In [735]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [736]:
E=c['ROOMNAME']=='Room 582 (Single Bed)'

In [737]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [738]:
E=c['ROOMNAME']=='Room 583 (Four Bedded)'

In [739]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [740]:
E=c['ROOMNAME']=='Room 584 (Four Bedded)'

In [741]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [742]:
E=c['ROOMNAME']=='Room 585 (Double Bed)'

In [743]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [744]:
E=c['ROOMNAME']=='Room 586 (Double Bed)'

In [745]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [746]:
E=c['ROOMNAME']=='Room 587 (Double Bed)'

In [747]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [748]:
E=c['ROOMNAME']=='Room 588 (Four Bedded)'

In [749]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [750]:
E=c['ROOMNAME']=='G03 (Day Care)'

In [751]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

0

In [752]:
E=c['ROOMNAME']=='Haematology & Oncology Daycare Adult (Day Care Chemo)'

In [753]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

35

In [758]:
E=c['ROOMNAME']=='Haematology & Oncology Daycare Paeds (Day Care Chemo (Private))'

In [759]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

11

In [760]:
E=c['ROOMNAME']=='Room 206 (Executive Suite)'

In [761]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [762]:
E=c['ROOMNAME']=='Room 207 (Double Bed)'

In [763]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [764]:
E=c['ROOMNAME']=='Room 208 (Double Bed)'

In [765]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [766]:
E=c['ROOMNAME']=='Room 209 (Double Bed)'

In [767]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [768]:
E=c['ROOMNAME']=='Room 210 (Double Bed)'

In [769]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [770]:
E=c['ROOMNAME']=='Room 211 (Double Bed)'

In [771]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [772]:
E=c['ROOMNAME']=='Room 212 (Single Bed)'

In [773]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [774]:
E=c['ROOMNAME']=='Room 213 (Single Bed)'

In [775]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [776]:
E=c['ROOMNAME']=='Room 214 (Single Bed)'

In [777]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [778]:
E=c['ROOMNAME']=='Room 215 (Single Bed)'

In [779]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [780]:
E=c['ROOMNAME']=='Room 216 (Single Bed)'

In [781]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [782]:
E=c['ROOMNAME']=='Room 217 (Single Bed)'

In [783]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [784]:
E=c['ROOMNAME']=='Room 218 (Four Bedded)'

In [785]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [786]:
E=c['ROOMNAME']=='Room 219 (Double Bed)'

In [787]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [788]:
E=c['ROOMNAME']=='Room 220 (Executive Suite)'

In [789]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [790]:
E=c['ROOMNAME']=='Room 221 (Double Bed)'

In [791]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [793]:
E=c['ROOMNAME']=='Room 222 (Double Bed)'

In [794]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [795]:
E=c['ROOMNAME']=='Room 223 (Single Bed)'

In [796]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [797]:
E=c['ROOMNAME']=='Room 224 (Single Bed)'

In [798]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [799]:
E=c['ROOMNAME']=='Room 225 (Single Bed)'

In [800]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [801]:
E=c['ROOMNAME']=='Room 226 (Single Bed)'

In [802]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [803]:
E=c['ROOMNAME']=='Room 301 (Double Bed)'

In [804]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [805]:
E=c['ROOMNAME']=='Room 302 (Double Bed)'

In [806]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [807]:
E=c['ROOMNAME']=='Room 303 (Double Bed)'

In [808]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [809]:
E=c['ROOMNAME']=='Room 304 (Double Bed)'

In [810]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [811]:
E=c['ROOMNAME']=='Room 305 (Double Bed)'

In [812]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [813]:
E=c['ROOMNAME']=='Room 306 (Suite)'

In [814]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [815]:
E=c['ROOMNAME']=='Room 307 (Single Bed)'

In [816]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [817]:
E=c['ROOMNAME']=='Room 308 (Single Bed)'

In [818]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [821]:
E=c['ROOMNAME']=='Room 309 (Double Bed)'

In [822]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [823]:
E=c['ROOMNAME']=='Room 310 (Double Bed)'

In [824]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [825]:
E=c['ROOMNAME']=='Room 311 (Double Bed)'

In [826]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [829]:
E=c['ROOMNAME']=='Room 312 (Double Bed)'

In [830]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [831]:
E=c['ROOMNAME']=='Room 313 (Double Bed)'

In [832]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [833]:
E=c['ROOMNAME']=='Room 314 (Double Bed)'

In [834]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [835]:
E=c['ROOMNAME']=='Room 315 (Single Bed)'

In [836]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [837]:
E=c['ROOMNAME']=='Room 316 (Single Bed)'

In [838]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [839]:
E=c['ROOMNAME']=='Room 317 (Single Bed)'

In [840]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [841]:
E=c['ROOMNAME']=='Room 318 (Single Bed)'

In [842]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [843]:
E=c['ROOMNAME']=='Room 319 (Single Bed)'

In [844]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [845]:
E=c['ROOMNAME']=='Room 320 (Single Bed)'

In [846]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [847]:
E=c['ROOMNAME']=='Room 321 (Four Bedded)'

In [848]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [849]:
E=c['ROOMNAME']=='Room 322 (Four Bedded)'

In [850]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [861]:
E=c['ROOMNAME']=='Room 323 (Double Bed)'

In [862]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

0

In [863]:
E=c['ROOMNAME']=='Room 324 (Double Bed)'

In [864]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [865]:
E=c['ROOMNAME']=='Room 325 (Four Bedded)'

In [866]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [867]:
E=c['ROOMNAME']=='Room 326 (Suite)'

In [868]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [869]:
E=c['ROOMNAME']=='Room 327 (Single Bed)'

In [870]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [871]:
E=c['ROOMNAME']=='Room 329 (Four Bedded)'

In [872]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

8

In [873]:
E=c['ROOMNAME']=='Room 330 (Double Bed)'

In [874]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [875]:
E=c['ROOMNAME']=='Room 331 (Double Bed)'

In [876]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [877]:
E=c['ROOMNAME']=='Room 332 (Double Bed)'

In [878]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [879]:
E=c['ROOMNAME']=='Room 333 (Double Bed)'

In [880]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [881]:
E=c['ROOMNAME']=='Room 334 (Double Bed)'

In [882]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [883]:
E=c['ROOMNAME']=='Room 335 (Single Bed)'

In [884]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [885]:
E=c['ROOMNAME']=='Room 336 (Single Bed)'

In [886]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [887]:
E=c['ROOMNAME']=='Room 337 (Single Bed)'

In [888]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [889]:
E=c['ROOMNAME']=='Room 338 (Single Bed)'

In [890]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [891]:
E=c['ROOMNAME']=='Room 339 (Single Bed)'

In [892]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [893]:
E=c['ROOMNAME']=='Room 421 (HDU)'

In [894]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

6

In [895]:
E=c['ROOMNAME']=='Room 401 (Double Bed)'

In [896]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [897]:
E=c['ROOMNAME']=='Room 402 (Double Bed)'

In [898]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [899]:
E=c['ROOMNAME']=='Room 403 (Double Bed)'

In [900]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [901]:
E=c['ROOMNAME']=='Room 404 (Double Bed)'

In [902]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [904]:
E=c['ROOMNAME']=='Room 405 (Double Bed)'

In [905]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [906]:
E=c['ROOMNAME']=='Room 406 (Delute Suite)'

In [907]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

0

In [908]:
E=c['ROOMNAME']=='Room 407 (Single Bed)'

In [909]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [910]:
E=c['ROOMNAME']=='Room 408 (Single Bed)'

In [911]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [912]:
E=c['ROOMNAME']=='Room 409 (Double Bed)'

In [913]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [914]:
E=c['ROOMNAME']=='Room 410 (Four Bedded)'

In [915]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [916]:
E=c['ROOMNAME']=='Room 411 (Four Bedded)'

In [917]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [918]:
E=c['ROOMNAME']=='Room 412 (Four Bedded)'

In [919]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [920]:
E=c['ROOMNAME']=='Room 413 (Four Bedded)'

In [921]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [922]:
E=c['ROOMNAME']=='Room 414 (Single Bed)'

In [923]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [927]:
E=c['ROOMNAME']=='Room 416 (Single Bed)'

In [928]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [929]:
E=c['ROOMNAME']=='Room 417 (Single Bed)'

In [930]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [931]:
E=c['ROOMNAME']=='Room 418 (Single Bed)'

In [932]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [933]:
E=c['ROOMNAME']=='Room 419 (Single Bed)'

In [934]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [935]:
E=c['ROOMNAME']=='Room 420 (Single Bed)'

In [936]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [937]:
E=c['ROOMNAME']=='Room 422 (Double Bed)'

In [938]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [939]:
E=c['ROOMNAME']=='Room 423 (Single Bed)'

In [940]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [941]:
E=c['ROOMNAME']=='Room 424 (Single Bed)'

In [942]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [943]:
E=c['ROOMNAME']=='Room 425 (Single Bed)'

In [944]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [945]:
E=c['ROOMNAME']=='Room 426 (Single Bed)'

In [946]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [947]:
E=c['ROOMNAME']=='Room 427 (Double Bed)'

In [948]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [949]:
E=c['ROOMNAME']=='Room 428 (Double Bed)'

In [950]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [951]:
E=c['ROOMNAME']=='Room 429 (Double Bed)'

In [952]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [953]:
E=c['ROOMNAME']=='Room 430 (Double Bed)'

In [954]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [955]:
E=c['ROOMNAME']=='Room 431 (Double Bed)'

In [956]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [957]:
E=c['ROOMNAME']=='Room 432 (Double Bed)'

In [958]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [959]:
E=c['ROOMNAME']=='Room 433 (Double Bed)'

In [960]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

3

In [961]:
E=c['ROOMNAME']=='Room 434 (Single Bed)'

In [962]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [963]:
E=c['ROOMNAME']=='Room 435 (Single Bed)'

In [964]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [965]:
E=c['ROOMNAME']=='Room 436 (Single Bed)'

In [966]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [967]:
E=c['ROOMNAME']=='Room 437 (Single Bed)'

In [968]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [969]:
E=c['ROOMNAME']=='Room 438 (Single Bed)'

In [970]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [971]:
E=c['ROOMNAME']=='Room 501 (Double Bed)'

In [972]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [973]:
E=c['ROOMNAME']=='Room 502 (Double Bed)'

In [974]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [975]:
E=c['ROOMNAME']=='Room 503 (Double Bed)'

In [976]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [977]:
E=c['ROOMNAME']=='Room 504 (Double Bed)'

In [978]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [979]:
E=c['ROOMNAME']=='Room 505 (Double Bed)'

In [980]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [981]:
E=c['ROOMNAME']=='Room 506 (Double Bed)'

In [982]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [983]:
E=c['ROOMNAME']=='Room 507 (Single Bed)'

In [984]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [985]:
E=c['ROOMNAME']=='Room 508 (Single Bed)'

In [986]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [987]:
E=c['ROOMNAME']=='Room 509 (Single Bed)'

In [988]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [989]:
E=c['ROOMNAME']=='Room 510 (Single Bed)'

In [990]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [991]:
E=c['ROOMNAME']=='Room 511 (Single Bed)'

In [992]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [993]:
E=c['ROOMNAME']=='Room 512 (Single Bed)'

In [994]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [995]:
E=c['ROOMNAME']=='Room 513 (Double Bed)'

In [996]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [997]:
E=c['ROOMNAME']=='Room 514 (Double Bed)'

In [998]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [999]:
E=c['ROOMNAME']=='Room 515 (Four Bedded)'

In [1000]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [1001]:
E=c['ROOMNAME']=='Room 516 (Four Bedded)'

In [1002]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [1003]:
E=c['ROOMNAME']=='Room 517 (Double Bed)'

In [1004]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [1005]:
E=c['ROOMNAME']=='Room 518 (Single Bed)'

In [1006]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [1007]:
E=c['ROOMNAME']=='Room 519 (Single Bed)'

In [1008]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [1009]:
E=c['ROOMNAME']=='Room 520 (Single Bed)'

In [1010]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [1011]:
E=c['ROOMNAME']=='Room 521 (Single Bed)'

In [1012]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [1013]:
E=c['ROOMNAME']=='Room 522 (Double Bed)'

In [1014]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [1015]:
E=c['ROOMNAME']=='Room 523 (Double Bed)'

In [1016]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [1017]:
E=c['ROOMNAME']=='Room 524 (Double Bed)'

In [1018]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

4

In [1019]:
E=c['ROOMNAME']=='Room 525 (Double Bed)'

In [1020]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [1021]:
E=c['ROOMNAME']=='Room 526 (Double Bed)'

In [1022]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [1023]:
E=c['ROOMNAME']=='Room 527 (Double Bed)'

In [1024]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [1025]:
E=c['ROOMNAME']=='Room 528 (Double Bed)'

In [1026]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

In [1027]:
E=c['ROOMNAME']=='Room 529 (Single Bed)'

In [1028]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [1029]:
E=c['ROOMNAME']=='Room 530 (Single Bed)'

In [1030]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [1031]:
E=c['ROOMNAME']=='Room 531 (Single Bed)'

In [1032]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [1033]:
E=c['ROOMNAME']=='Room 532 (Single Bed)'

In [1034]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [1035]:
E=c['ROOMNAME']=='Room 533 (Single Bed)'

In [1036]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [1037]:
E=c['ROOMNAME']=='Room 535-VS (Golden Suite Wing)'

In [1038]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [1039]:
E=c['ROOMNAME']=='Room 536V-1 (VVIP Suite)'

In [1040]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [1041]:
E=c['ROOMNAME']=='Room 538V-1 (VVIP Suite)'

In [1047]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

9

In [1048]:
E=c['ROOMNAME']=='Room 535V-1 (VVIP Suite)'

In [1049]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

In [1050]:
E=c['ROOMNAME']=='ICU ST 1 (ICU/CCU)'

In [1051]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

9

In [1054]:
E=c['ROOMNAME']=='ROOM 102 (Day Care)'

In [1055]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

32

In [1058]:
E=c['ROOMNAME']=='Daycare NT (Day Care)'

In [1059]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

50

In [1062]:
E=c['ROOMNAME']=='Room 538V-1 (VVIP Suite)'

In [1063]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

# 3.	Get the count of the bed under each status.

In [1073]:
E=c['BEDSTATUS']=='Available'

In [1074]:
#status under Available
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

527

In [1075]:
E=c['BEDSTATUS']=='Occupied Discharge'

In [1076]:
#status under Occupied Discharge
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

59

In [1077]:
E=c['BEDSTATUS']=='Vacant Dirty'

In [1078]:
#status under Vacant Dirty
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

210

In [1079]:
E=c['BEDSTATUS']=='Occupied(Male)'

In [1080]:
#status under Occupied(Male)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

90

In [1081]:
E=c['BEDSTATUS']=='Occupied(Female)'

In [1082]:
#status under Occupied(Female)
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

104

In [1083]:
E=c['BEDSTATUS']=='Blocked'

In [1084]:
#status under Blocked
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

2

# 4.	Calculate the overall occupancy percentage (total occupied / total bed).

In [1116]:
E=c['BEDSTATUS']=='Available'

In [1118]:
count=0
for i in E:
    if i is False:
        count=count+1
print(count)

465

In [1121]:
P=(count/len(E))*100

In [1126]:
print("the overall occupancy percentage is",P)

the overall occupancy percentage is 46.875

# 5.	Calculate occupancy for each ward.

In [163]:
E=c[['NURSENAME','BEDSTATUS']]=='Daycare Surgery','Occupied(Male)','Occupied(Female)','Vacant Dirty','Occupied Discharge','Blocked'

In [164]:
E

(     NURSENAME  BEDSTATUS
 0        False      False
 1        False      False
 2        False      False
 3        False      False
 4        False      False
 ..         ...        ...
 995      False      False
 996      False      False
 997      False      False
 998      False      False
 999      False      False

 [992 rows x 2 columns],
 'Occupied(Male)',
 'Occupied(Female)',
 'Vacant Dirty',
 'Occupied Discharge',
 'Blocked')

In [165]:
k=c[['NURSENAME','BEDSTATUS']]=True

In [168]:
count=0
for i in E:
    if k is True:
        count=count+1
print(count)

6

In [178]:
E=c[['NURSENAME','BEDSTATUS']]=='Daycare Endoscopy','Occupied(Male)','Occupied(Female)','Vacant Dirty','Occupied Discharge','Blocked'

In [179]:
k=c[['NURSENAME','BEDSTATUS']]=True

In [180]:
count=0
for i in E:
    if k is True:
        count=count+1
print(count)

6

# 7.	Calculate count of bed with all the different bed statuses for each ward.

In [184]:
F=c[['NURSENAME','BEDSTATUS']]=='Daycare Surgery','Available'

In [187]:
F

(     NURSENAME  BEDSTATUS
 0        False      False
 1        False      False
 2        False      False
 3        False      False
 4        False      False
 ..         ...        ...
 995      False      False
 996      False      False
 997      False      False
 998      False      False
 999      False      False

 [992 rows x 2 columns],
 'Available')

In [189]:
k=c[['NURSENAME','BEDSTATUS']]==True

In [186]:
count=0
for i in F:
    if k is True:
        count=count+1
print(count)

0

In [196]:
F=c[['NURSENAME','BEDSTATUS']]=='Daycare Endoscopy','Occupied Discharge'

In [197]:
k=c[['NURSENAME','BEDSTATUS']]==True

In [199]:
count=0
for i in F:
    if k is True:
        count=count+1
print(count)

0

# 6.	Calculate occupancy for each room.

In [226]:
E=c['ROOMNAME']=='Room 529 (Single Bed)'

In [228]:
count=0
for i in E:
    if i is True:
        count=count+1
print(count)

1

# 8.	Calculate count of bed with all the different bed statuses for each room.

In [231]:
F=c[['ROOMNAME','BEDSTATUS']]=='Room 529 (Single Bed)','Available'

In [232]:
F

(     ROOMNAME  BEDSTATUS
 0       False      False
 1       False      False
 2       False      False
 3       False      False
 4       False      False
 ..        ...        ...
 995     False      False
 996     False      False
 997     False      False
 998     False      False
 999     False      False

 [992 rows x 2 columns],
 'Available')

In [233]:
count=0
for i in F:
    if i is True:
        count=count+1
print(count)

0

In [254]:
F=c[['ROOMNAME','BEDSTATUS']]=='Room 529 (Single Bed)','Occupied Discharge'

In [256]:
count=0
for i in F:
        if i is True:
            count=count+1
print(count)

0